{%- if os == "debian" or os == "ubuntu" %}
    ARCH="$(dpkg --print-architecture)";
{%- elif os == "alpine-linux" %}
    ARCH="$(apk --print-arch)";
{%- elif os == "anolis" or os == "ubi-minimal" %}
    ARCH="$(rpm --query --queryformat='%{ARCH}' rpm)";
{%- endif -%}
