RUN set -eux; \
{%- include 'partials/arch-variable.j2' %} \
    case "${ARCH}" in \
       {% for arch, details in arch_data.items() -%}
        {{ arch }}) \
         ESUM='{{ details.checksum }}'; \
         BINARY_URL='{{ details.download_url }}'; \
         ;; \
       {% endfor -%}
        *) \
         echo "Unsupported arch: ${ARCH}"; \
         exit 1; \
         ;; \
    esac; \
    wget --progress=dot:giga -O /tmp/openjdk.tar.gz ${BINARY_URL}; \
    echo "${ESUM}  /tmp/openjdk.tar.gz" | md5sum -c -; \
    mkdir -p "$JAVA_HOME"; \
    tar --extract \
        --file /tmp/openjdk.tar.gz \
        --directory "$JAVA_HOME" \
        --strip-components 1 \
        --no-same-owner \
    ; \
    {%- if version|int == 8 %}
    rm -f /tmp/openjdk.tar.gz{% if image_type == "jdk" %} ${JAVA_HOME}/src.zip{% endif %};
    {%- else %}
    rm -f /tmp/openjdk.tar.gz{% if image_type == "jdk" %} ${JAVA_HOME}/lib/src.zip{% endif %};
    {%- endif -%}
